PAPER_VISION_DB_URL=jdbc:mysql://host.docker.internal:3306/pb_data?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
PAPER_VISION_DB_USERNAME=root
PAPER_VISION_DB_PASSWORD=change-me
PAPER_VISION_CODEID=ceshi01
PAPER_VISION_USERNAME=ceshi01
PAPER_VISION_DEPT_ID=231
